Repository sgdevcamp2023/sgwannabe, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mingzooo, @kor-Chipmunk, @suakang17, @happysoy

.github/CODEOWNERS:

# 담당자를 지정할 때는 github ID 혹은 github email을 넣습니다.

# frontend codeowners (web)
# web 과 관련된 코드는 프론트엔드가 관리합니다.
/src/frontend @mingzooo

# service 관련된 코드는 백엔드가 관리합니다.
/src/*-server @kor-Chipmunk @suakang17 @happysoy

# docs는 모두가 관리합니다.
/docs @kor-Chipmunk @suakang17 @happysoy @mingzooo

# script는 모두가 관리합니다.
/scripts @kor-Chipmunk @suakang17 @happysoy @mingzooo

# resources는 프론트엔드와 밀접하므로, 프론트엔드가 관리합니다.
/resources @mingzooo

fix: `INVALID_TOKEN` 변경된 `ErrorCode` 에 추가
  src/backend/common-module/common/src/main/java/com/lalala/exception/ErrorCode.java
Owners: none

fix: filter 순서 변경 & Authorization 헤더 null 오류 해결
  src/backend/gateway-server/src/main/java/com/lalala/gateway/filter/AuthorizationFilter.java
  src/backend/gateway-server/src/main/java/com/lalala/gateway/filter/LoggingFilter.java
  src/backend/gateway-server/src/main/resources/application.yml
Owners: none

style: styling
  src/backend/gateway-server/src/main/java/com/lalala/gateway/filter/AuthorizationFilter.java
  src/backend/gateway-server/src/main/java/com/lalala/gateway/filter/LoggingFilter.java
Owners: none

fix: 잠시나가기, 영구적으로 나가기 API 연동
  src/frontend/sg_lalala/src/components/Chat/ChattingHeader.tsx
  src/frontend/sg_lalala/src/components/Chat/ChattingListComponent.tsx
  src/frontend/sg_lalala/src/pages/ChattingListPage.tsx
  src/frontend/sg_lalala/src/pages/ChattingPage.tsx
  src/frontend/sg_lalala/src/pages/LoginPage.tsx
Owners: @mingzooo

feat: 유저 로그인 -> 토큰 헤더 저장 API 연동
  src/frontend/sg_lalala/src/api/axios.ts
  src/frontend/sg_lalala/src/api/chatApi.ts
  src/frontend/sg_lalala/src/api/refresh.ts
  src/frontend/sg_lalala/src/api/userApi.ts
  src/frontend/sg_lalala/src/components/shared/Header.tsx
  src/frontend/sg_lalala/src/state/index.ts
  src/frontend/sg_lalala/src/types/index.tsx
  src/frontend/sg_lalala/src/types/userInfo.ts
Owners: @mingzooo

refactor: add missing field userCount
  src/backend/chatting-server/src/main/java/chattingserver/dto/response/JoinedRoomResponseDto.java
  src/backend/chatting-server/src/main/java/chattingserver/service/RoomService.java
Owners: none

fix: `gateway-app` 으로 호스트명 수정
  src/backend/gateway-server/docker-compose-hub.yml
Owners: none

infra: port 수정
  src/backend/chart-server/chart-api/src/main/resources/application.yml
  src/backend/chart-server/docker-compose-hub.yml
  src/backend/chart-server/docker-compose-local.yml
  src/backend/chatting-server/docker-compose-hub.yml
  src/backend/feed-server/.gradle/8.5/executionHistory/executionHistory.bin
  src/backend/feed-server/.gradle/8.5/executionHistory/executionHistory.lock
  src/backend/feed-server/.gradle/8.5/fileHashes/fileHashes.bin
  src/backend/feed-server/.gradle/8.5/fileHashes/fileHashes.lock
  src/backend/feed-server/.gradle/8.5/fileHashes/resourceHashesCache.bin
  src/backend/feed-server/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  src/backend/feed-server/.gradle/buildOutputCleanup/outputFiles.bin
  src/backend/feed-server/.gradle/file-system.probe
  src/backend/feed-server/src/main/resources/application.yml
  src/backend/playlist-server/src/main/resources/application.yml
Owners: none

feat: gateway 검색 서버의 요청인 경우 JWT 토큰을 그대로 넘겨줌
  src/backend/gateway-server/src/main/java/com/lalala/gateway/filter/AuthorizationFilter.java
  src/backend/gateway-server/src/main/java/com/lalala/gateway/filter/JWTTokenPassURI.java
Owners: none

refactor: access token 전달 방식 변경
  src/backend/auth-server/src/main/java/com/lalala/auth/config/jwt/JwtUtils.java
  src/backend/auth-server/src/main/java/com/lalala/auth/service/AuthService.java
Owners: none

infra: chatting 이미지 사용하도록 수정
  src/backend/chatting-server/docker-compose-hub.yml
Owners: none

refactor: 토큰 쿠키 저장
  src/backend/auth-server/src/main/java/com/lalala/auth/config/jwt/JwtUtils.java
Owners: none

fix: restore baseresponseadvice
  src/backend/common-module/common-mvc/src/main/java/com/lalala/mvc/response/BaseResponseBodyAdvice.java
Owners: none

style: spotless
  src/backend/common-module/common-mvc/src/main/java/com/lalala/mvc/response/BaseResponseBodyAdvice.java
Owners: none

infra: git pull origin 명령어 추가
  scripts/update_from_develop.sh
Owners: @kor-Chipmunk, @suakang17, @happysoy, @mingzooo

feat: resolve frontend merge conflict
  src/frontend/sg_lalala/package-lock.json
  src/frontend/sg_lalala/package.json
  src/frontend/sg_lalala/src/App.tsx
  src/frontend/sg_lalala/src/api/axios.ts
  src/frontend/sg_lalala/src/api/chatApi.ts
  src/frontend/sg_lalala/src/components/Chat/ChattingComponent.tsx
  src/frontend/sg_lalala/src/components/Chat/ChattingHeader.tsx
  src/frontend/sg_lalala/src/components/Chat/ChattingListComponent.tsx
  src/frontend/sg_lalala/src/components/Chat/MessageComponent.tsx
  src/frontend/sg_lalala/src/components/Chat/PlaylistComponent.tsx
  src/frontend/sg_lalala/src/components/Chat/PlaylistSongComponent.tsx
  src/frontend/sg_lalala/src/components/Main/AlbumComponent.tsx
  src/frontend/sg_lalala/src/components/Main/FeedListComponent.tsx
  src/frontend/sg_lalala/src/components/Main/TopHundredComponent.tsx
  src/frontend/sg_lalala/src/components/SignUp/SignUpInput.tsx
  src/frontend/sg_lalala/src/components/shared/AddSongModal.tsx
  src/frontend/sg_lalala/src/components/shared/Header.tsx
  src/frontend/sg_lalala/src/components/shared/MusicBar.tsx
  src/frontend/sg_lalala/src/data/top100.json
  src/frontend/sg_lalala/src/hooks/useParamsHook.ts
  src/frontend/sg_lalala/src/index.tsx
  src/frontend/sg_lalala/src/pages/ChattingListPage.tsx
  src/frontend/sg_lalala/src/pages/ChattingPage.tsx
  src/frontend/sg_lalala/src/pages/LoginPage.tsx
  src/frontend/sg_lalala/src/pages/MainChartPage.tsx
  src/frontend/sg_lalala/src/pages/PlayerPage.tsx
  src/frontend/sg_lalala/src/pages/SignupPage.tsx
  src/frontend/sg_lalala/src/routes/index.tsx
  src/frontend/sg_lalala/src/state/index.ts
  src/frontend/sg_lalala/src/types/backgroundMusic.ts
  src/frontend/sg_lalala/src/types/chart.ts
  src/frontend/sg_lalala/src/utils/Timer.tsx
  src/frontend/sg_lalala/src/utils/cn.ts
  src/frontend/sg_lalala/src/utils/index.ts
Owners: @mingzooo

feat: 채팅 플레이리스트 방장 정보 api 연동
  src/frontend/sg_lalala/src/api/axios.ts
  src/frontend/sg_lalala/src/api/chatApi.ts
  src/frontend/sg_lalala/src/components/Chat/ChattingHeader.tsx
  src/frontend/sg_lalala/src/components/Chat/ChattingListComponent.tsx
  src/frontend/sg_lalala/src/pages/ChattingListPage.tsx
Owners: @mingzooo

fix: 잠시나가기, 영구적으로 나가기 API 연동
  src/frontend/sg_lalala/src/components/Chat/ChattingHeader.tsx
  src/frontend/sg_lalala/src/components/Chat/ChattingListComponent.tsx
  src/frontend/sg_lalala/src/pages/ChattingListPage.tsx
  src/frontend/sg_lalala/src/pages/ChattingPage.tsx
  src/frontend/sg_lalala/src/pages/LoginPage.tsx
Owners: @mingzooo

fix: player 크롬 자동재생 정책 반영 및 로직 수정
  src/frontend/sg_lalala/src/components/Player/AudioPlayer.tsx
Owners: @mingzooo

feat: 로그인api 추가연동
  src/frontend/sg_lalala/src/api/chatApi.ts
  src/frontend/sg_lalala/src/api/userApi.ts
  src/frontend/sg_lalala/src/components/Chat/ChattingHeader.tsx
  src/frontend/sg_lalala/src/components/Chat/JoinedChattingRoom.tsx
  src/frontend/sg_lalala/src/components/Chat/MessageComponent.tsx
  src/frontend/sg_lalala/src/components/Login/LoginButton.tsx
  src/frontend/sg_lalala/src/components/Login/LoginInput.tsx
  src/frontend/sg_lalala/src/pages/ChattingListPage.tsx
  src/frontend/sg_lalala/src/pages/ChattingPage.tsx
  src/frontend/sg_lalala/src/pages/LoginPage.tsx
  src/frontend/sg_lalala/src/pages/SignupPage.tsx
  src/frontend/sg_lalala/src/state/index.ts
  src/frontend/sg_lalala/src/types/index.tsx
  src/frontend/sg_lalala/src/types/stompClient.ts
Owners: @mingzooo

feat: 유저 로그인 -> 토큰 헤더 저장 API 연동
  src/frontend/sg_lalala/src/api/axios.ts
  src/frontend/sg_lalala/src/api/chatApi.ts
  src/frontend/sg_lalala/src/api/refresh.ts
  src/frontend/sg_lalala/src/api/userApi.ts
  src/frontend/sg_lalala/src/components/shared/Header.tsx
  src/frontend/sg_lalala/src/state/index.ts
  src/frontend/sg_lalala/src/types/index.tsx
  src/frontend/sg_lalala/src/types/userInfo.ts
Owners: @mingzooo

fix: cors 에러 해결
  src/backend/gateway-server/src/main/resources/application.yml
Owners: none

refactor: cors 에러 해결
  src/backend/auth-server/src/main/java/com/lalala/auth/config/WebConfig.java
  src/backend/gateway-server/src/main/resources/application.yml
Owners: none

refactor: simple-url-handler-mapping 주석 삭제
  src/backend/gateway-server/src/main/resources/application.yml
Owners: none

refactor: cors 에러 수정
  src/backend/alarm-server/alarm-api/src/main/java/com/lalala/alarm/config/WebConfiguration.java
  src/backend/auth-server/src/main/java/com/lalala/auth/config/WebConfig.java
  src/backend/chart-server/chart-api/src/main/kotlin/com/lalala/chart/config/WebConfiguration.kt
  src/backend/feed-server/src/main/java/com/lalala/feed/config/WebConfig.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/config/WebConfiguration.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/global/config/WebConfig.java
  src/backend/user-server/src/main/java/com/lalala/user/config/WebConfig.java
Owners: none

fix: websocket origins localhost:3000 으로 수정
  src/backend/chatting-server/src/main/java/chattingserver/config/WebSockConfig.java
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/config/ws/WsConfig.kt
Owners: none

feat: `BaseResponseBodyAdvice` Swagger 예외 처리 추가
  src/backend/common-module/common-mvc/src/main/java/com/lalala/mvc/response/BaseResponseBodyAdvice.java
Owners: none

infra: `music_likes` 테이블 스키마 추가
  src/backend/music-server/infra/00_schema.sql
Owners: none

feat: `music_likes` 테이블 마이그레이션 파일로 새로 추가
  src/backend/music-server/infra/00_schema.sql
  src/backend/music-server/infra/04_music_likes_schema.sql
Owners: none

feat: `PassportExtractor` 에 Swagger 에서 테스트 가능하도록 Bearer 인식 수정
  src/backend/common-module/common-mvc/src/main/java/com/lalala/mvc/passport/PassportExtractor.java
Owners: none

feat: Swagger authorization 기능 추가
  src/backend/music-server/music-api/src/main/java/com/lalala/music/config/SwaggerConfiguration.java
Owners: none

feat: music origin 수정
  src/backend/music-server/music-api/src/main/java/com/lalala/music/config/WebConfiguration.java
Owners: none

fix: 음원 조회 메시지 수정
  src/backend/music-server/music-api/src/main/java/com/lalala/music/controller/MusicController.java
Owners: none

feat: `MusicLikeEntity` 추가
  src/backend/music-server/music-api/src/main/java/com/lalala/music/entity/MusicLikeEntity.java
Owners: none

feat: 음원 좋아요 레포지토리 추가
  src/backend/music-server/music-api/src/main/java/com/lalala/music/repository/MusicLikeRepository.java
Owners: none

feat: `MusicEntity` 에 `likeCount` 필드 및 증감 메소드 추가
  src/backend/music-server/music-api/src/main/java/com/lalala/music/entity/MusicEntity.java
Owners: none

feat: 음원 도메인에 `likeCount` 추가
  src/backend/music-server/music-api/src/main/java/com/lalala/music/dto/MusicDTO.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/dto/MusicDetailDTO.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/dto/MusicDTO.java
Owners: none

feat: 좋아요 API / 서비스 구현
  src/backend/music-server/music-api/src/main/java/com/lalala/music/controller/MusicLikeController.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/service/MusicLikeService.java
Owners: none

style: spotless 적용
  src/backend/common-module/common-mvc/src/main/java/com/lalala/mvc/passport/PassportExtractor.java
  src/backend/common-module/common-mvc/src/main/java/com/lalala/mvc/response/BaseResponseBodyAdvice.java
Owners: none

chore: `fileserver-app` 으로 다시 변경
  src/backend/music-server/infra/02_albums_202402151519.sql
  src/backend/music-server/infra/03_musics_202402151519.sql
Owners: none
