Repository sgdevcamp2023/sgwannabe, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mingzooo, @kor-Chipmunk, @suakang17, @happysoy

.github/CODEOWNERS:

# 담당자를 지정할 때는 github ID 혹은 github email을 넣습니다.

# frontend codeowners (web)
# web 과 관련된 코드는 프론트엔드가 관리합니다.
/src/frontend @mingzooo

# service 관련된 코드는 백엔드가 관리합니다.
/src/*-server @kor-Chipmunk @suakang17 @happysoy

# docs는 모두가 관리합니다.
/docs @kor-Chipmunk @suakang17 @happysoy @mingzooo

# script는 모두가 관리합니다.
/scripts @kor-Chipmunk @suakang17 @happysoy @mingzooo

# resources는 프론트엔드와 밀접하므로, 프론트엔드가 관리합니다.
/resources @mingzooo

fix: auth spring security 삭제
  src/backend/auth-server/build.gradle
Owners: none

feat: auth `BaseResponseBodyAdvice` 추가
  src/backend/auth-server/src/main/java/com/lalala/auth/AuthServerApplication.java
Owners: none

feat: `auth` WebConfig `@Configuration` 추가
  src/backend/auth-server/src/main/java/com/lalala/auth/config/WebConfig.java
Owners: none

refactor: auth 스프링 시큐리티 관련 코드 삭제
  src/backend/auth-server/src/main/java/com/lalala/auth/config/security/UserDetailsImpl.java
  src/backend/auth-server/src/main/java/com/lalala/auth/config/security/UserDetailsServiceImpl.java
  src/backend/auth-server/src/main/java/com/lalala/auth/config/security/WebSecurityConfig.java
Owners: none

feat: `signOut` boolean 반환값 추가
  src/backend/auth-server/src/main/java/com/lalala/auth/controller/AuthController.java
  src/backend/auth-server/src/main/java/com/lalala/auth/service/AuthService.java
Owners: none

fix: 유저 데이터베이스명 `lalala` 수정
  src/backend/auth-server/src/main/resources/application.yml
  src/backend/auth-server/src/test/resources/application.yml
  src/backend/user-server/docker-compose-hub.yml
  src/backend/user-server/src/main/resources/application.yml
Owners: none

chore: swagger 수정
  src/backend/chatting-server/build.gradle
  src/backend/playlist-server/build.gradle
Owners: none

feat: `discovery` `service-url` 속성 추가
  src/backend/discovery-server/src/main/resources/application.yml
Owners: none

fix: Routing URL 수정
  src/backend/gateway-server/src/main/resources/application.yml
Owners: none

refactor: user `build.gradle` 의존성 주석 정리
  src/backend/user-server/build.gradle
Owners: none

fix: user `schema.sql` 오타 수정
  src/backend/user-server/infra/schema.sql
Owners: none

fix: `JpaConfig` `@Configuration` 어노테이션 추가
  src/backend/user-server/src/main/java/com/lalala/user/config/JpaConfig.java
Owners: none

feat: `UserServerApplication` 에 `@Import` 으로 기능 추가
  src/backend/user-server/src/main/java/com/lalala/user/UserServerApplication.java
Owners: none

fix: common `beforeBodyWrite` 로직 수정
  src/backend/common-module/src/main/java/com/lalala/response/BaseResponseBodyAdvice.java
Owners: none

infra: `user-mysql` 에 `adminer` 에서 접근할 수 있도록 `default` 명시 추가
  src/backend/user-server/docker-compose.yml
Owners: none

refactor: update last read message
  src/backend/chatting-server/src/main/java/chattingserver/config/kafka/Producers.java
  src/backend/chatting-server/src/main/java/chattingserver/controller/ChatController.java
  src/backend/chatting-server/src/main/java/chattingserver/controller/RoomController.java
  src/backend/chatting-server/src/main/java/chattingserver/domain/chat/LastMessage.java
  src/backend/chatting-server/src/main/java/chattingserver/dto/response/RoomResponseDto.java
  src/backend/chatting-server/src/main/java/chattingserver/dto/response/UserListResponseDto.java
  src/backend/chatting-server/src/main/java/chattingserver/repository/RoomRepositoryImpl.java
  src/backend/chatting-server/src/main/java/chattingserver/service/RoomService.java
  src/backend/chatting-server/src/main/java/chattingserver/util/converter/EntityToResponseDtoConverter.java
Owners: none

feat: 채팅 화면 및 웹소켓 연동
  src/frontend/sg_lalala/src/App.tsx
  src/frontend/sg_lalala/src/components/Chat/ChattingComponent.tsx
  src/frontend/sg_lalala/src/components/Chat/ChattingHeader.tsx
  src/frontend/sg_lalala/src/components/Chat/ChattingListComponent.tsx
  src/frontend/sg_lalala/src/components/Chat/MessageComponent.tsx
  src/frontend/sg_lalala/src/components/Chat/PlaylistComponent.tsx
  src/frontend/sg_lalala/src/pages/ChattingPage.tsx
Owners: @mingzooo

fix: 채팅 메시지 타입 통일
  src/frontend/sg_lalala/src/components/Chat/MessageComponent.tsx
Owners: @mingzooo

infra: `discover-server` 최우선 실행하도록 위치 수정
  src/infra/start.sh
  src/infra/start_build.sh
Owners: none

infra: user `created_at`, `updated_at` 기본 값 추가 & 초기 데이터 추가
  src/backend/user-server/infra/init.sql
  src/backend/user-server/infra/schema.sql
Owners: none

chore: 패키지 매니저
  src/frontend/sg_lalala/package-lock.json
  src/frontend/sg_lalala/package.json
Owners: @mingzooo

fix: router적용 및 useParams type에러
  src/frontend/sg_lalala/src/components/Chat/ChattingComponent.tsx
  src/frontend/sg_lalala/src/components/Chat/MessageComponent.tsx
Owners: @mingzooo

feat: 채팅방 나가기 버튼 구현 및 웹소켓 연결 끊기
  src/frontend/sg_lalala/src/components/Chat/ChattingHeader.tsx
  src/frontend/sg_lalala/src/pages/ChattingPage.tsx
  src/frontend/sg_lalala/src/routes/index.tsx
Owners: @mingzooo

bugfix: user 입장시 메시지만 날아가고 db반영 안되는 버그 해결
  src/backend/chatting-server/src/main/java/chattingserver/config/kafka/Producers.java
  src/backend/chatting-server/src/main/java/chattingserver/controller/ChatController.java
  src/backend/chatting-server/src/main/java/chattingserver/repository/RoomRepository.java
  src/backend/chatting-server/src/main/java/chattingserver/repository/RoomRepositoryCustom.java
  src/backend/chatting-server/src/main/java/chattingserver/repository/RoomRepositoryImpl.java
  src/backend/chatting-server/src/main/java/chattingserver/service/ChatMessageService.java
  src/backend/chatting-server/src/main/java/chattingserver/util/constant/MessageType.java
Owners: none

bugfix: 방 잠시 나가기 시 lastreadmessage 업데이트 안되는 버그 해결
  src/backend/chatting-server/src/main/java/chattingserver/dto/request/ReadMessageUpdateRequestDto.java
  src/backend/chatting-server/src/main/java/chattingserver/repository/ChatMessageRepositoryImpl.java
  src/backend/chatting-server/src/main/java/chattingserver/repository/RoomRepositoryImpl.java
Owners: none

fix: `passport.algorithm` 명 수정
  src/backend/alarm-server/docker-compose-hub.yml
  src/backend/alarm-server/docker-compose.yml
  src/backend/auth-server/docker-compose-hub.yml
  src/backend/auth-server/src/main/resources/application.yml
  src/backend/auth-server/src/test/resources/application.yml
  src/backend/chart-server/chart-api/src/main/resources/application.yml
  src/backend/chart-server/chart-api/src/test/resources/application.yml
  src/backend/chart-server/docker-compose-hub.yml
  src/backend/chart-server/docker-compose.yml
  src/backend/chatting-server/docker-compose-hub.yml
  src/backend/chatting-server/docker-compose.yml
  src/backend/chatting-server/src/main/resources/application.yml
  src/backend/common-module/src/main/java/com/lalala/exception/ErrorResponse.java
  src/backend/feed-server/docker-compose-hub.yml
  src/backend/feed-server/docker-compose.yml
  src/backend/feed-server/src/main/resources/application.yml
  src/backend/music-server/docker-compose-hub.yml
  src/backend/music-server/docker-compose.yml
  src/backend/playlist-server/docker-compose-hub.yml
  src/backend/playlist-server/docker-compose.yml
  src/backend/playlist-server/src/main/resources/application.yml
  src/backend/streaming-server/src/main/resources/application-docker.yml
  src/backend/streaming-server/src/main/resources/application.yml
  src/backend/user-server/docker-compose-hub.yml
  src/backend/user-server/src/main/resources/application.yml
Owners: none

fix: 토큰 시간 수정
  src/backend/auth-server/src/main/resources/application.yml
Owners: none

feat: 인증서버 예외 핸들러 추가
  src/backend/auth-server/src/main/java/com/lalala/auth/AuthServerApplication.java
Owners: none

feat: 게이트웨이 예외 핸들러 추가
  src/backend/gateway-server/src/main/java/com/lalala/gateway/GatewayApplication.java
Owners: none

feat: Feign 응답 디코더 설정 추가
  src/backend/gateway-server/src/main/java/com/lalala/gateway/config/FeignResponseDecoderConfig.java
Owners: none

feat: `generatePassport` 인증 서버와 연동
  src/backend/gateway-server/src/main/java/com/lalala/gateway/external/feign/FeignAuthClient.java
  src/backend/gateway-server/src/main/java/com/lalala/gateway/filter/AuthorizationFilter.java
  src/backend/gateway-server/src/main/java/com/lalala/gateway/filter/WhiteListURI.java
Owners: none

fix: music-api 에서 passport.algorithm 수정
  src/backend/music-server/music-api/src/main/resources/application.yml
Owners: none

refactor: `ErrorResponse` 필드 순서에 맞게 정렬
  src/backend/music-server/music-api/src/main/java/com/lalala/music/exception/ErrorResponse.java
Owners: none

feat: `AUTH-SERVER` 유레카 등록된 이름으로 라우팅되도록 수정
  src/backend/gateway-server/src/main/java/com/lalala/gateway/external/feign/FeignAuthClient.java
Owners: none

style: spotlessApply 적용
  src/backend/gateway-server/src/main/java/com/lalala/gateway/config/FeignResponseDecoderConfig.java
  src/backend/gateway-server/src/main/java/com/lalala/gateway/external/feign/FeignAuthClient.java
  src/backend/gateway-server/src/main/java/com/lalala/gateway/filter/AuthorizationFilter.java
Owners: none

infra: develop 내용 업데이트 해주는 스크립트 작성
  scripts/update_from_develop.sh
Owners: @kor-Chipmunk, @suakang17, @happysoy, @mingzooo

infra: echo 제거
  src/infra/start.sh
  src/infra/start_build.sh
Owners: none

feat: `py_eureka_client` 라이브러리 설치
  src/backend/search-server/requirements.txt
Owners: none

feat: eureka client 코드 추가
  src/backend/search-server/backend/src/main.py
  src/backend/search-server/requirements.txt
Owners: none

infra: 기본 네트워크 추가 & `EUREKA_HOST` 환경변수 추가
  src/backend/search-server/docker-compose-hub.yml
  src/backend/search-server/docker-compose.yml
Owners: none
