Repository sgdevcamp2023/sgwannabe, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mingzooo, @kor-Chipmunk, @suakang17, @happysoy

.github/CODEOWNERS:

# 담당자를 지정할 때는 github ID 혹은 github email을 넣습니다.

# frontend codeowners (web)
# web 과 관련된 코드는 프론트엔드가 관리합니다.
/src/frontend @mingzooo

# service 관련된 코드는 백엔드가 관리합니다.
/src/*-server @kor-Chipmunk @suakang17 @happysoy

# docs는 모두가 관리합니다.
/docs @kor-Chipmunk @suakang17 @happysoy @mingzooo

# script는 모두가 관리합니다.
/scripts @kor-Chipmunk @suakang17 @happysoy @mingzooo

# resources는 프론트엔드와 밀접하므로, 프론트엔드가 관리합니다.
/resources @mingzooo

chore: user 서버 mvc 공통 모듈 적용
  src/backend/user-server/build.gradle
  src/backend/user-server/settings.gradle
  src/backend/user-server/src/main/java/com/lalala/user/UserServerApplication.java
  src/backend/user-server/src/main/java/com/lalala/user/service/UserService.java
Owners: none

feat: gateway Streaming 라우팅 제거
  src/backend/gateway-server/src/main/java/com/lalala/gateway/filter/WhiteListURI.java
  src/backend/gateway-server/src/main/resources/application.yml
Owners: none

chore: gateway netty & websocket enabled 설정
  src/backend/gateway-server/src/main/resources/application.yml
Owners: none

chore: gateway discovery 사용
  src/backend/gateway-server/src/main/resources/application.yml
Owners: none

chore: apple chip 에서 발생하는 dns 오류 해결 의존성 추가
  src/backend/discovery-server/build.gradle
  src/backend/gateway-server/build.gradle
Owners: none

feat: gateway `WebSocketHandler` 등록
  src/backend/gateway-server/src/main/java/com/lalala/gateway/config/WebSocketConfig.java
Owners: none

chore: music MySQLDialect 수정
  src/backend/music-server/music-api/src/main/resources/application.yml
Owners: none

feat: streaming reactive 공통 모듈 적용
  src/backend/streaming-server/build.gradle
  src/backend/streaming-server/settings.gradle
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/StreamingApplication.kt
Owners: none

feat: 스트리밍 서버 `TRACK_CHANGED` 이벤트 추가 & 공통 에외 적용 & MVC 모듈 적용
  src/backend/streaming-server/build.gradle
  src/backend/streaming-server/docker-compose-hub.yml
  src/backend/streaming-server/docker-compose.yml
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/StreamingApplication.kt
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/exception/MusicNotFoundException.kt
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/exception/StorageFileNotFoundException.kt
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/handler/Command.kt
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/handler/StreamingHandler.kt
  src/backend/streaming-server/src/main/resources/application.yml
Owners: none

feat: Reactive Feign 적용
  src/backend/gateway-server/build.gradle
  src/backend/gateway-server/docker-compose-hub.yml
  src/backend/gateway-server/src/main/java/com/lalala/gateway/external/feign/FeignAuthClient.java
  src/backend/gateway-server/src/main/java/com/lalala/gateway/filter/AuthorizationFilter.java
  src/backend/gateway-server/src/main/resources/application.yml
Owners: none

feat: chatting 라우팅 sockjs, websocket `ws-chat` 라우팅 추가
  src/backend/gateway-server/src/main/resources/application.yml
Owners: none

feat: gateway reactive open feign 설정으로 변경
  src/backend/gateway-server/src/main/java/com/lalala/gateway/config/OpenFeignConfig.java
Owners: none

feat: 로그인api 추가연동
  src/frontend/sg_lalala/src/api/chatApi.ts
  src/frontend/sg_lalala/src/api/userApi.ts
  src/frontend/sg_lalala/src/components/Chat/ChattingHeader.tsx
  src/frontend/sg_lalala/src/components/Chat/JoinedChattingRoom.tsx
  src/frontend/sg_lalala/src/components/Chat/MessageComponent.tsx
  src/frontend/sg_lalala/src/components/Login/LoginButton.tsx
  src/frontend/sg_lalala/src/components/Login/LoginInput.tsx
  src/frontend/sg_lalala/src/pages/ChattingListPage.tsx
  src/frontend/sg_lalala/src/pages/ChattingPage.tsx
  src/frontend/sg_lalala/src/pages/LoginPage.tsx
  src/frontend/sg_lalala/src/pages/SignupPage.tsx
  src/frontend/sg_lalala/src/state/index.ts
  src/frontend/sg_lalala/src/types/index.tsx
  src/frontend/sg_lalala/src/types/stompClient.ts
Owners: @mingzooo

refactor: 재입장시 응답에 현재 실행중인 음원 id 값 포함
  src/backend/chatting-server/src/main/java/chattingserver/controller/ChatController.java
  src/backend/chatting-server/src/main/java/chattingserver/domain/room/Playlist.java
  src/backend/chatting-server/src/main/java/chattingserver/dto/response/ReEnterResponseDto.java
  src/backend/chatting-server/src/main/java/chattingserver/service/ChatMessageService.java
Owners: none

refactor: 신규 입장시 응답에 현재 실행중인 음원 id 값 포함
  src/backend/chatting-server/src/main/java/chattingserver/dto/ChatMessageDto.java
  src/backend/chatting-server/src/main/java/chattingserver/service/ChatMessageService.java
Owners: none

fix: gateway MultiValue Header 방지하는 코드 추가
  src/backend/gateway-server/src/main/resources/application.yml
Owners: none

chore: music sql 순서 숫자로 구분하도록 이름 변경
  src/backend/music-server/infra/00_scheme.sql
  src/backend/music-server/infra/01_artists_202402151519.sql
  src/backend/music-server/infra/02_albums_202402151519.sql
  src/backend/music-server/infra/03_musics_202402151519.sql
  src/backend/music-server/infra/z_3.musics_202402151519.sql
Owners: none

feat: auth JWT_TOKEN_EXPIRED 예외 추가
  src/backend/auth-server/src/main/java/com/lalala/auth/config/jwt/JwtUtils.java
Owners: none

fix: ResponseAdvice Swagger 와 충돌나서 삭제
  src/backend/common-module/common-mvc/src/main/java/com/lalala/mvc/response/BaseResponseBodyAdvice.java
Owners: none

feat: ErrorCode 에 `JWT_TOKEN_EXPIRED` 오류코드 추가
  src/backend/common-module/common/src/main/java/com/lalala/exception/ErrorCode.java
Owners: none

feat: music `getMusicFromIds` API 추가
  src/backend/music-server/music-api/src/main/java/com/lalala/music/controller/MusicController.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/dto/MusicRetrieveRequestDTO.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/service/MusicService.java
Owners: none

infra: docker-compose 설정 수정
  src/backend/playlist-server/docker-compose-hub.yml
  src/backend/playlist-server/docker-compose-local.yml
  src/backend/playlist-server/docker-compose.yml
Owners: none

feat: playlist `DiscoveryClientConfig` 추가
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/global/config/DiscoveryClientConfig.java
Owners: none

feat: `OpenFeignConfig` 설정 추가
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/global/config/OpenFeignConfig.java
Owners: none

feat: playlist `FeignResponseDecoderConfig` 추가
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/global/config/FeignResponseDecoderConfig.java
Owners: none

feat: 음원 DTO 추가
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/dto/AlbumDTO.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/dto/AlbumType.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/dto/ArtistDTO.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/dto/ArtistType.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/dto/FileDTO.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/dto/FormatType.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/dto/GenderType.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/dto/MusicDTO.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/dto/MusicRetrieveRequestDTO.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/dto/ParticipantsDetailDTO.java
Owners: none

feat: 음원 서버와 연동하는 feign client 추가
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/FeignMusicClient.java
Owners: none

feat: playlist 음원 openfeign 연동 서비스 로직 추가
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/dto/PlaylistRequestDto.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/service/PlaylistService.java
Owners: none

refactor: `PLAYLIST_NOT_FOUND` 예외 추가 & `orElseThrow` 구조로 리팩터링
  src/backend/common-module/common/src/main/java/com/lalala/exception/ErrorCode.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/service/PlaylistService.java
Owners: none

chore: playlist 서버 포트 16000 으로 수정 / db 정보 yml 수정
  src/backend/playlist-server/src/main/resources/application.yml
Owners: none

refactor: `GlobalExceptionHandler` 사용하도록 오류 응답 코드 제거
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/controller/PlaylistController.java
Owners: none

bugfix: localtime -> localdatetime 잘못 import한 것 수정
  src/backend/chatting-server/src/main/java/chattingserver/service/ChatMessageService.java
Owners: none

refactor: 각 music의 duration 게산하는 메서드 리팩토링
  src/backend/chatting-server/src/main/java/chattingserver/domain/room/Music.java
  src/backend/chatting-server/src/main/java/chattingserver/service/ChatMessageService.java
Owners: none

refactor: 채팅방 생성시에 한번만 총 플레이타임 계산하도록 리팩토
  src/backend/chatting-server/src/main/java/chattingserver/domain/room/Playlist.java
  src/backend/chatting-server/src/main/java/chattingserver/domain/room/Room.java
  src/backend/chatting-server/src/main/java/chattingserver/repository/ChatroomDummyInitializer.java
  src/backend/chatting-server/src/main/java/chattingserver/service/ChatMessageService.java
  src/backend/chatting-server/src/main/java/chattingserver/service/RoomService.java
Owners: none

fix: 충돌해결
  src/backend/auth-server/src/main/java/com/lalala/auth/controller/AuthController.java
  src/backend/auth-server/src/main/java/com/lalala/auth/payload/request/TokenRefreshRequest.java
  src/backend/auth-server/src/main/java/com/lalala/auth/service/AuthService.java
  src/backend/auth-server/src/main/java/com/lalala/auth/service/RedisService.java
  src/backend/common-module/src/main/java/com/lalala/exception/ErrorCode.java
  src/backend/gateway-server/src/main/java/com/lalala/gateway/filter/WhiteListURI.java
Owners: none

style: 로그 삭제
  src/backend/auth-server/src/main/java/com/lalala/auth/controller/AuthController.java
Owners: none

style: log 수정
  src/backend/chatting-server/src/main/java/chattingserver/service/ChatMessageService.java
Owners: none

feat: 공통 모듈 적용
  src/backend/chatting-server/build.gradle
  src/backend/chatting-server/settings.gradle
  src/backend/chatting-server/src/main/java/chattingserver/ChattingApplication.java
  src/backend/chatting-server/src/main/java/chattingserver/controller/ChatController.java
  src/backend/chatting-server/src/main/java/chattingserver/controller/RoomController.java
Owners: none

chore: develop 브랜치 배포 스크립트 코드에 `git pull` 추가
  scripts/update_from_develop.sh
Owners: @kor-Chipmunk, @suakang17, @happysoy, @mingzooo

fix: common 모듈 의존성 순환 참조 수정
  src/backend/chart-server/build.gradle.kts
  src/backend/chart-server/chart-api/build.gradle.kts
  src/backend/chart-server/chart-api/src/main/kotlin/com/lalala/chart/controller/ChartController.kt
Owners: none
