Repository sgdevcamp2023/sgwannabe, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mingzooo, @kor-Chipmunk, @suakang17, @happysoy

feat: `MusicLikeEntity` 추가
  src/backend/music-server/music-api/src/main/java/com/lalala/music/entity/MusicLikeEntity.java
Owners: none

feat: dummy insert - playlist id
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/util/DummyInitializer.java
Owners: none

feat: dummy insert
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/ChattingService.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/FeignChattingClient.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/MusicToMusicDummyDtoConverter.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/PlaylistToPlaylistDummyDtoConverter.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/dto/MusicRoomDummyDto.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/dto/PlaylistRoomDummyDto.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/dto/RoomCreateRequestDto.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/config/ConverterConfig.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/config/PlaylistConverterConfig.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/util/DummyInitializer.java
Owners: none

refactor: add dummy - fix null
  src/backend/chatting-server/src/main/java/chattingserver/controller/RoomController.java
  src/backend/chatting-server/src/main/java/chattingserver/dto/request/RoomCreateRequestDto.java
  src/backend/chatting-server/src/main/java/chattingserver/dto/response/RoomResponseDto.java
  src/backend/chatting-server/src/main/java/chattingserver/repository/ChatroomDummyInitializer.java
  src/backend/chatting-server/src/main/java/chattingserver/service/RoomService.java
  src/backend/chatting-server/src/main/java/chattingserver/util/converter/EntityToResponseDtoConverter.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/ChattingService.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/FeignChattingClient.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/FeignMusicClient.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/dto/PlaylistRoomDummyDto.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/dto/RoomCreateRequestDto.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/util/DummyInitializer.java
Owners: none

bugfix: fix null - create API
  src/backend/chatting-server/src/main/java/chattingserver/util/converter/EntityToResponseDtoConverter.java
Owners: none

[fix] 음원 스트리밍 수정
  src/frontend/sg_lalala/src/api/chatApi.ts
  src/frontend/sg_lalala/src/components/Chat/JoinedChattingRoom.tsx
  src/frontend/sg_lalala/src/components/Chat/PlaylistComponent.tsx
  src/frontend/sg_lalala/src/pages/ChattingListPage.tsx
  src/frontend/sg_lalala/src/pages/ProfilePage.tsx
  src/frontend/sg_lalala/src/state/index.ts
  src/frontend/sg_lalala/src/types/playlist.ts
Owners: @mingzooo

[fix] 스트리밍 서버, 스토리지 서버 연결
  src/backend/storage-server/docker-compose-hub.yml
  src/backend/storage-server/resources/021aa8a9-9a0c-4285-8403-b5f58c126399.mp3
  src/backend/storage-server/resources/087fb611-c54e-483a-8911-2d3feb3d2052.jpg
  src/backend/storage-server/resources/29f28ec3-024b-48b4-b47e-6758f6e56e29.mp3
  src/backend/storage-server/resources/3cf67fa0-35e0-4fc5-b818-0ac88fc07443.mp3
  src/backend/storage-server/resources/3dda2b37-e0c7-4625-843e-9f0976d80c28.mp3
  src/backend/storage-server/resources/44569839-e962-4521-bd8f-1148de83720c.jpg
  src/backend/storage-server/resources/4a2f78cc-da82-4ccc-823b-8ab24e126298.jpeg
  src/backend/storage-server/resources/4ff65b52-13ea-4131-96a0-71c76efd2885.jpeg
  src/backend/storage-server/resources/54081e8c-7433-4fcc-a5e9-dcc26a8f25da.jpeg
  src/backend/storage-server/resources/6ada3ba2-62ad-4e73-a192-0d6351fa3518.jpeg
  src/backend/storage-server/resources/748b755a-950c-48da-956c-eead7c607212.jpeg
  src/backend/storage-server/resources/7f30cd4b-9969-4ded-b9f4-7034f2189d1d.jpeg
  src/backend/storage-server/resources/8ee3a9a8-32f9-4ee1-839b-e9d5c6a82577.jpg
  src/backend/storage-server/resources/971ee18a-9f87-4cd0-ab8f-81a20fa0fee4.jpg
  src/backend/storage-server/resources/97acbe0e-bf17-47ff-98b7-159c9c99fbaa.jpeg
  src/backend/storage-server/resources/9ebf5698-4109-4ecb-89ed-080a10f853da.jpeg
  src/backend/storage-server/resources/Janji - Heroes Tonight (feat. Johnning).mp3
  src/backend/storage-server/resources/aa569fd6-81e9-4e62-9c5c-ca1ecd3803cf.jpg
  src/backend/storage-server/resources/aab737f9-0220-4034-ba4d-90d691982741.png
  src/backend/storage-server/resources/c1688003-77e3-47ec-b45f-38bf7afc73c7.jpg
  src/backend/storage-server/resources/dba91183-456b-44bb-a015-74bc10d6f011.mp3
  src/backend/storage-server/resources/eaf37683-c134-4779-8a3e-6f49f5e4b6c5.mp3
  src/backend/storage-server/resources/f26d29f7-ee83-45db-a284-0561fbb4e90f.jpeg
  src/backend/storage-server/resources/f638bde0-7caf-4e41-9c10-c453019c426d.jpeg
  src/backend/storage-server/resources/fe2f7f22-37a8-4885-8977-a50d28791add.jpg
Owners: none

hotfix: resolve merge conflict
  src/frontend/sg_lalala/package-lock.json
Owners: @mingzooo

fix: 채팅방 rejoin, join에 따른 publish 분리
  src/frontend/sg_lalala/src/components/Chat/ChattingListComponent.tsx
  src/frontend/sg_lalala/src/components/Chat/JoinedChattingRoom.tsx
  src/frontend/sg_lalala/src/pages/ChattingPage.tsx
Owners: @mingzooo

fix: 디스커버리 주소 참조하도록 수정
  src/backend/chatting-server/src/main/java/chattingserver/controller/SearchProxy.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/FeignChattingClient.java
Owners: none

fix: 채팅, 스트리밍, 로그인 데모 정리
  src/frontend/sg_lalala/src/App.tsx
  src/frontend/sg_lalala/src/api/chatApi.ts
  src/frontend/sg_lalala/src/components/Chat/ChattingHeader.tsx
  src/frontend/sg_lalala/src/components/Chat/ChattingListComponent.tsx
  src/frontend/sg_lalala/src/components/Chat/PlaylistComponent.tsx
  src/frontend/sg_lalala/src/components/Main/AlbumComponent.tsx
  src/frontend/sg_lalala/src/components/Main/Feed.tsx
  src/frontend/sg_lalala/src/components/Main/FeedSlide.tsx
  src/frontend/sg_lalala/src/components/Main/TopHundredComponent.tsx
  src/frontend/sg_lalala/src/components/shared/Header.tsx
  src/frontend/sg_lalala/src/pages/ChattingListPage.tsx
  src/frontend/sg_lalala/src/pages/ChattingPage.tsx
  src/frontend/sg_lalala/src/pages/LoginPage.tsx
  src/frontend/sg_lalala/src/state/index.ts
Owners: @mingzooo

chore: 인식할 수 없는 `:` 문자 제거
  docs/도커 이미지 통일 포트 할당.pdf
Owners: @kor-Chipmunk, @suakang17, @happysoy, @mingzooo

docs: 최종발표회 문서 추가
  docs/최종발표회/[최종발표회] LaLaLa.pdf
Owners: @kor-Chipmunk, @suakang17, @happysoy, @mingzooo

docs: 파일 제목 '[분류] SG워너비 ~' 으로 수정
  docs/README.md
  docs/pmp/README.md
  docs/pmp/[PMP] SG워너비 PMP.pdf
  docs/개발 문서/도커 이미지 통일 포트 할당.pdf
  docs/개발 문서/스트리밍 서버 부하 테스트.pdf
  docs/개발 문서/스트리밍 웹소켓 명세.pdf
  docs/개발 문서/채팅 STOMP 부하테스트/채팅 STOMP 부하테스트.pdf
  docs/개발 문서/채팅 서버 명세/[신버전] 채팅 서버 기능 명세, 아키텍처.pdf
  docs/개발 문서/프론트 코드 컨벤션.pdf
  docs/최종발표회/[최종발표회] SG워너비 발표 자료.pdf
Owners: @kor-Chipmunk, @suakang17, @happysoy, @mingzooo

refactor: `common-reactive` 의존성으로 변경
  src/backend/streaming-server/build.gradle
Owners: none

refactor: `CommonReactiveModuleConfig` 모듈 적용
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/StreamingApplication.kt
Owners: none

feat: `KafkaProducker` Config 적용
  src/backend/streaming-server/build.gradle
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/StreamingApplication.kt
  src/backend/streaming-server/src/main/resources/application.yml
Owners: none

feat: `KafkaProducer` 발행 Config 추가
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/config/async/AsyncConfig.kt
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/external/kafka/KafkaProducer.kt
Owners: none

feat: 서비스 디스커버리를 위해 Eureka 서버에 등록하는 Config 추가
  src/backend/streaming-server/build.gradle
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/config/discovery/DiscoverClientConfig.kt
Owners: none

chore: `eureka` 주소 설정 추가
  src/backend/streaming-server/src/main/resources/application.yml
Owners: none

refactor: 사용하지 않는 yml 설정 삭제
  src/backend/streaming-server/src/main/resources/application.yml
Owners: none

feat: 음원 서버 주소를 디스커버리에서 조회하도록 수정
  src/backend/streaming-server/src/main/resources/application.yml
Owners: none

refactor: `RestClient` 대신 Reactive 구조인 `WebClient` 빈 으로 대체
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/config/client/RestClientConfig.kt
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/config/client/WebClientConfig.kt
Owners: none

refactor: WebFlux WebSocket 핸들러 구조로 변경
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/handler/StreamingHandler.kt
Owners: none

refactor: `WsConfig` 를 `WebFlux WebSocket` HandlerMapping 빈으로 변경
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/config/ws/WsConfig.kt
Owners: none

feat: 음원 전처리 시 새 스레드 생성 대신, ThreadPool 사용하도록 변경
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/config/async/AsyncConfig.kt
Owners: none

chore: 스트리밍 테스트 웹페이지 중지 버튼 추가 / 시간 기록
  src/backend/streaming-server/index.html
Owners: none

feat: 트랙 변경 이벤트에 쓰이지 않는 `userId` 제외
  src/backend/common-module/common/src/main/java/com/lalala/event/StreamingCompleteEvent.java
Owners: none

refactor: 자른 음원 파일 읽을 시 NIO 버퍼 사용하도록 수정
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/handler/StreamingHandler.kt
Owners: none

fix: 마지막 파일 재생되지 않는 버그 해결
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/handler/StreamingHandler.kt
Owners: none

infra: 유레카 서버 URL docker-compose 환경변수에 등록
  src/backend/streaming-server/docker-compose-hub.yml
  src/backend/streaming-server/docker-compose-local.yml
  src/backend/streaming-server/docker-compose.yml
Owners: none

refactor: 중복된 Bean name 등록 제거
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/config/async/AsyncConfig.kt
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/config/client/WebClientConfig.kt
Owners: none

refactor: `@Async` 에 `Executor` 명시
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/external/kafka/KafkaProducer.kt
Owners: none

refactor: 코드 리팩터링
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/handler/StreamingHandler.kt
Owners: none

docs: 서버흐름도 수정
  resources/서버흐름도.png
Owners: @mingzooo

refactor: `StreamingHandler` 에 도메인 모듈 리팩터링
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/handler/StreamingHandler.kt
Owners: none

chore: `core-pool-size`, `size-mb` 속성 값으로 이동
  src/backend/streaming-server/src/main/resources/application.yml
Owners: none

refact: 최적화
  src/backend/chatting-server/src/main/java/chattingserver/config/kafka/Consumers.java
  src/backend/chatting-server/src/main/java/chattingserver/config/kafka/KafkaConsumerConfig.java
  src/backend/chatting-server/src/main/java/chattingserver/controller/ChatController.java
  src/backend/chatting-server/src/main/java/chattingserver/controller/RoomController.java
  src/backend/chatting-server/src/main/java/chattingserver/domain/room/Music.java
  src/backend/chatting-server/src/main/java/chattingserver/domain/room/Playlist.java
  src/backend/chatting-server/src/main/java/chattingserver/domain/room/Room.java
  src/backend/chatting-server/src/main/java/chattingserver/repository/ChatMessageRepository.java
  src/backend/chatting-server/src/main/java/chattingserver/repository/ChatMessageRepositoryCustom.java
  src/backend/chatting-server/src/main/java/chattingserver/repository/ChatMessageRepositoryImpl.java
  src/backend/chatting-server/src/main/java/chattingserver/repository/RoomRepository.java
  src/backend/chatting-server/src/main/java/chattingserver/repository/RoomRepositoryCustom.java
  src/backend/chatting-server/src/main/java/chattingserver/repository/RoomRepositoryImpl.java
  src/backend/chatting-server/src/main/java/chattingserver/service/ChatMessageService.java
  src/backend/chatting-server/src/main/java/chattingserver/service/RoomService.java
Owners: none

refact: 전반적 리팩터링
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/controller/PlaylistController.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/service/AsyncDataBaseService.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/service/PlaylistEventPublisher.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/service/PlaylistService.java
Owners: none

.github/CODEOWNERS:

# 담당자를 지정할 때는 github ID 혹은 github email을 넣습니다.

# frontend codeowners (web)
# web 과 관련된 코드는 프론트엔드가 관리합니다.
/src/frontend @mingzooo

# service 관련된 코드는 백엔드가 관리합니다.
/src/*-server @kor-Chipmunk @suakang17 @happysoy

# docs는 모두가 관리합니다.
/docs @kor-Chipmunk @suakang17 @happysoy @mingzooo

# script는 모두가 관리합니다.
/scripts @kor-Chipmunk @suakang17 @happysoy @mingzooo

# resources는 프론트엔드와 밀접하므로, 프론트엔드가 관리합니다.
/resources @mingzooo
