Repository sgdevcamp2023/sgwannabe, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, script, web, server

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file: ['docs/**', '**/*.md', '**/*.pdf']

config:
  - changed-files:
      - any-glob-to-any-file: 'config/**'
  - head-branch: ['^config', 'config']

script:
  - changed-files:
      - any-glob-to-any-file: 'scripts/**'

web:
  - changed-files:
      - any-glob-to-any-file: 'src/frontend/**'

server:
  - changed-files:
      - any-glob-to-any-file: 'src/backend/*-server/**'

feature:
  - head-branch: ['^feat', 'feat', '^feature', 'feature']

refactor:
  - head-branch: ['^refactor', 'refactor']

fix:
  - head-branch: ['^fix', 'fix']

chore: PR 할당 자동화
  .github/workflows/auto-assign-author-to-assignees.yml
Labels: none

chore: 전역 `resources/` & `scripts/` 폴더 추가
  resources/README.md
  scripts/README.md
Labels: docs, script

chore: 인프라 폴더 추가
  src/infra/README.md
Labels: docs

chore: 하위 폴더의 .idea, static 폴더 ignore / !src/**build/ 도 gitignore 되도록 수정
  .gitignore
Labels: none

docs: 프로젝트 팀원 테이블 형식으로 수정
  README.md
Labels: docs

chore: 백엔드 README 이미지 수정
  resources/서버구성도.png
  resources/서버흐름도.png
  src/backend/README.md
  src/backend/images/architecture.png
Labels: docs

refactor: 중복되는 명령어 삭제
  .github/workflows/dockerhub-push.yml
Labels: none

feat: playlist CRUD
  src/backend/playlist-server/playlist-server/.gitignore
  src/backend/playlist-server/playlist-server/Dockerfile
  src/backend/playlist-server/playlist-server/build.gradle
  src/backend/playlist-server/playlist-server/docker-compose.yml
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/global/config/MongoDBConfig.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/global/config/RedisCacheConfig.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/global/config/RedisConfig.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/config/ConverterConfig.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/controller/PlaylistController.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/domain/Playlist.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/dto/PlaylistRequestDto.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/dto/PlaylistResponseDto.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/dto/PlaylistToDtoConverter.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/exception/NotFoundException.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/repository/PlaylistRepository.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/service/PlaylistService.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/util/KeyGenerator.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/util/PlaylistRedisSerializer.java
  src/backend/playlist-server/playlist-server/src/main/resources/application.yml
  src/backend/playlist-server/playlist-server/src/test/java/com/sgwannabe/playlistserver/PlaylistServerApplicationTests.java
Labels: server

chore: swagger 설정
  src/backend/playlist-server/playlist-server/build.gradle
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/global/config/SwaggerConfig.java
Labels: server

feat: playlist에 music CRUD 구현
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/music/config/MusicConverterConfig.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/music/domain/Music.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/music/dto/MusicOrderChangeRequestDto.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/music/dto/MusicRequestDto.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/music/dto/MusicResponseDto.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/music/util/MusicToDtoConverter.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/config/PlaylistConverterConfig.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/controller/PlaylistController.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/domain/Playlist.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/dto/PlaylistRequestDto.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/dto/PlaylistResponseDto.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/service/PlaylistService.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/util/PlaylistToDtoConverter.java
Labels: server

chore: validate 추가
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/PlaylistServerApplication.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/music/domain/Music.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/music/dto/MusicOrderChangeRequestDto.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/music/dto/MusicRequestDto.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/controller/PlaylistController.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/domain/Playlist.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/dto/PlaylistRequestDto.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/service/PlaylistService.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/util/PlaylistRedisSerializer.java
Labels: server

feat: 중복 음원 추가 방지, 썸네일 첫 곡으로 업데이트하는 로직 추가
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/domain/Playlist.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/exception/DuplicateMusicException.java
Labels: server

feat: uid로 playlist list 조회하는 api 추가
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/controller/PlaylistController.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/repository/PlaylistRepository.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/service/PlaylistService.java
Labels: server

feat: 플레이리스트 총 음원 수 필드 추가
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/domain/Playlist.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/dto/PlaylistResponseDto.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/service/PlaylistService.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/util/PlaylistToDtoConverter.java
Labels: server

chore: swagger 업데이트
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/controller/PlaylistController.java
Labels: server

feat: 파일 업로더 서버 기본 프로젝트 셋팅
  src/backend/music-uploader-server/.gitignore
  src/backend/music-uploader-server/.taprc
  src/backend/music-uploader-server/README.md
  src/backend/music-uploader-server/package-lock.json
  src/backend/music-uploader-server/package.json
  src/backend/music-uploader-server/src/app.ts
  src/backend/music-uploader-server/src/plugins/README.md
  src/backend/music-uploader-server/src/plugins/sensible.ts
  src/backend/music-uploader-server/src/plugins/support.ts
  src/backend/music-uploader-server/src/routes/README.md
  src/backend/music-uploader-server/src/routes/root.ts
  src/backend/music-uploader-server/test/helper.ts
  src/backend/music-uploader-server/test/plugins/support.test.ts
  src/backend/music-uploader-server/test/routes/example.test.ts
  src/backend/music-uploader-server/test/routes/root.test.ts
  src/backend/music-uploader-server/test/tsconfig.json
  src/backend/music-uploader-server/tsconfig.json
Labels: docs, server

feat: 업로드 엔드포인트 작성
  src/backend/music-uploader-server/src/plugins/multipart.ts
  src/backend/music-uploader-server/src/routes/upload/index.ts
Labels: server

feat: dotenv 플러그인 작성
  src/backend/music-uploader-server/src/plugins/dotenv.ts
Labels: server

chore: 도커 설정
  src/backend/music-uploader-server/Dockerfile
  src/backend/music-uploader-server/docker-compose.yml
Labels: server
