Repository sgdevcamp2023/sgwannabe, pull requests merged in 2024-01, with the labels that each got.

#4 Feat/#1 파일서버 구축
  README.md
  src/backend/README.md
  src/backend/storage-server/.env.default
  src/backend/storage-server/Dockerfile
  src/backend/storage-server/README.md
  src/backend/storage-server/docker-compose.yml
  src/backend/storage-server/go.mod
  src/backend/storage-server/go.sum
  src/backend/storage-server/main.go
  src/backend/storage-server/resources/Janji - Heroes Tonight (feat. Johnning) [NCS Release].mp3
Labels: enhancement

#16 Feat/#5 차트서버 구축
  .gitignore
  src/backend/chart-server/.gitignore
  src/backend/chart-server/Dockerfile
  src/backend/chart-server/README.md
  src/backend/chart-server/build.gradle.kts
  src/backend/chart-server/chart-api/build.gradle.kts
  src/backend/chart-server/chart-api/src/main/kotlin/com/lalala/chart/ChartApplication.kt
  src/backend/chart-server/chart-api/src/main/kotlin/com/lalala/chart/config/MongoConfiguration.kt
  src/backend/chart-server/chart-api/src/main/kotlin/com/lalala/chart/controller/ChartController.kt
  src/backend/chart-server/chart-api/src/main/kotlin/com/lalala/chart/controller/dto/ChartResponse.kt
  src/backend/chart-server/chart-api/src/main/kotlin/com/lalala/chart/controller/dto/CreateChartRequest.kt
  src/backend/chart-server/chart-api/src/main/kotlin/com/lalala/chart/controller/dto/CreateRankingRecordRequest.kt
  src/backend/chart-server/chart-api/src/main/kotlin/com/lalala/chart/controller/dto/RankingRecordResponse.kt
  src/backend/chart-server/chart-api/src/main/kotlin/com/lalala/chart/entity/mongo/Album.kt
  src/backend/chart-server/chart-api/src/main/kotlin/com/lalala/chart/entity/mongo/Artist.kt
  src/backend/chart-server/chart-api/src/main/kotlin/com/lalala/chart/entity/mongo/BaseTimeEntity.kt
  src/backend/chart-server/chart-api/src/main/kotlin/com/lalala/chart/entity/mongo/ChartEntity.kt
  src/backend/chart-server/chart-api/src/main/kotlin/com/lalala/chart/entity/mongo/DifferenceType.kt
  src/backend/chart-server/chart-api/src/main/kotlin/com/lalala/chart/entity/mongo/Music.kt
  src/backend/chart-server/chart-api/src/main/kotlin/com/lalala/chart/entity/mongo/RankingRecord.kt
  src/backend/chart-server/chart-api/src/main/kotlin/com/lalala/chart/entity/mongo/Statistics.kt
  src/backend/chart-server/chart-api/src/main/kotlin/com/lalala/chart/exception/NotFoundException.kt
  src/backend/chart-server/chart-api/src/main/kotlin/com/lalala/chart/repository/ChartRepository.kt
  src/backend/chart-server/chart-api/src/main/kotlin/com/lalala/chart/service/ChartService.kt
  src/backend/chart-server/chart-api/src/main/resources/application.yml
  src/backend/chart-server/chart-api/src/test/kotlin/com/lalala/chart/ChartApplicationTests.kt
  src/backend/chart-server/chart-api/src/test/resources/application.yml
  src/backend/chart-server/docker-compose-local-only-db.yml
  src/backend/chart-server/docker-compose.yml
  src/backend/chart-server/gradle/wrapper/gradle-wrapper.jar
  src/backend/chart-server/gradle/wrapper/gradle-wrapper.properties
  src/backend/chart-server/gradlew
  src/backend/chart-server/gradlew.bat
  src/backend/chart-server/init-mongo.js
  src/backend/chart-server/settings.gradle.kts
Labels: enhancement

#25 Feat/#24 로그인 페이지 퍼블리싱
  src/frontend/sg_lalala/package-lock.json
  src/frontend/sg_lalala/package.json
  src/frontend/sg_lalala/public/favicon.ico
  src/frontend/sg_lalala/public/index.html
  src/frontend/sg_lalala/src/App.tsx
  src/frontend/sg_lalala/src/assets/lalala_logo.png
  src/frontend/sg_lalala/src/assets/melon_logo.png
  src/frontend/sg_lalala/src/components/Login/LoginButton.tsx
  src/frontend/sg_lalala/src/components/Login/LoginInput.tsx
  src/frontend/sg_lalala/src/components/Main/AlbumComponent.tsx
  src/frontend/sg_lalala/src/components/Main/Feed.tsx
  src/frontend/sg_lalala/src/components/Main/FeedListComponent.tsx
  src/frontend/sg_lalala/src/components/Main/FeedSlide.tsx
  src/frontend/sg_lalala/src/components/Main/TopHundredComponent.tsx
  src/frontend/sg_lalala/src/components/shared/Header.tsx
  src/frontend/sg_lalala/src/components/shared/PageStyledComponents.tsx
  src/frontend/sg_lalala/src/custom.d.ts
  src/frontend/sg_lalala/src/index.css
  src/frontend/sg_lalala/src/pages/LoginPage.tsx
  src/frontend/sg_lalala/src/pages/MainChartPage.tsx
  src/frontend/sg_lalala/src/styles/LalalaSystem.tsx
  src/frontend/sg_lalala/src/styles/index.ts
  src/frontend/sg_lalala/src/styles/theme.tsx
  src/frontend/sg_lalala/tailwind.config.js
Labels: enhancement

#34 Feat/#17 음원 / 아티스트 / 앨범 CRUD 작성합니다.
  .gitignore
  src/backend/music-server/.gitignore
  src/backend/music-server/Dockerfile
  src/backend/music-server/build.gradle
  src/backend/music-server/docker-compose.yml
  src/backend/music-server/gradle/wrapper/gradle-wrapper.jar
  src/backend/music-server/gradle/wrapper/gradle-wrapper.properties
  src/backend/music-server/gradlew
  src/backend/music-server/gradlew.bat
  src/backend/music-server/infra/scheme.sql
  src/backend/music-server/music-api/build.gradle
  src/backend/music-server/music-api/src/main/java/com/lalala/music/MusicApplication.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/config/JpaAuditingConfiguration.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/config/SwaggerConfiguration.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/config/WebConfiguration.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/controller/AlbumController.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/controller/ArtistController.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/controller/MusicController.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/dto/AlbumDTO.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/dto/AlbumDetailDTO.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/dto/ArtistDTO.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/dto/ArtistDetailDTO.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/dto/CreateAlbumRequestDTO.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/dto/CreateArtistRequestDTO.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/dto/CreateMusicRequestDTO.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/dto/FileDTO.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/dto/MusicDTO.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/dto/MusicDetailDTO.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/dto/ParticipantsDetailDTO.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/dto/ParticipantsRequestDTO.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/dto/UpdateAlbumRequestDTO.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/dto/UpdateArtistRequestDTO.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/dto/UpdateMusicRequestDTO.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/entity/AlbumEntity.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/entity/AlbumType.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/entity/ArtistEntity.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/entity/ArtistType.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/entity/BaseTimeEntity.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/entity/FormatType.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/entity/GenderType.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/entity/MusicEntity.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/entity/MusicFile.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/repository/AlbumRepository.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/repository/ArtistRepository.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/repository/MusicRepository.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/service/AlbumService.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/service/ArtistService.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/service/MusicService.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/util/AlbumUtils.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/util/ArtistUtils.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/util/MusicUtils.java
  src/backend/music-server/music-api/src/main/resources/application.yml
  src/backend/music-server/music-api/src/test/java/com/lalala/music/MusicApplicationTests.java
  src/backend/music-server/settings.gradle
Labels: enhancement

#29 Feat/#10 DJ Live 채팅 서버의 메시지 송수신을 구현합니다.
  .idea/.gitignore
  src/backend/chatting-server/.env.default
  src/backend/chatting-server/.gitignore
  src/backend/chatting-server/Dockerfile
  src/backend/chatting-server/build.gradle
  src/backend/chatting-server/docker-compose.yml
  src/backend/chatting-server/gradle/wrapper/gradle-wrapper.jar
  src/backend/chatting-server/gradle/wrapper/gradle-wrapper.properties
  src/backend/chatting-server/gradlew
  src/backend/chatting-server/gradlew.bat
  src/backend/chatting-server/settings.gradle
  src/backend/chatting-server/src/main/java/chattingserver/ChattingserverApplication.java
  src/backend/chatting-server/src/main/java/chattingserver/config/WebSocketConfig.java
  src/backend/chatting-server/src/main/java/chattingserver/controller/ChatController.java
  src/backend/chatting-server/src/main/java/chattingserver/domain/ChatRoom.java
  src/backend/chatting-server/src/main/java/chattingserver/domain/RoomState.java
  src/backend/chatting-server/src/main/java/chattingserver/dto/ChatMessageDto.java
  src/backend/chatting-server/src/main/java/chattingserver/dto/ChatRoomDto.java
  src/backend/chatting-server/src/main/java/chattingserver/handlers/WebSocketChatHandler.java
  src/backend/chatting-server/src/main/java/chattingserver/service/ChatService.java
  src/backend/chatting-server/src/main/resources/application.properties
  src/backend/chatting-server/src/test/java/chattingserver/ChattingserverApplicationTests.java
Labels: enhancement

#26 Feat/#22 회원가입 기능을 구현합니다.
  src/backend/user-server/.gitignore
  src/backend/user-server/build.gradle
  src/backend/user-server/gradle/wrapper/gradle-wrapper.jar
  src/backend/user-server/gradle/wrapper/gradle-wrapper.properties
  src/backend/user-server/gradlew
  src/backend/user-server/gradlew.bat
  src/backend/user-server/settings.gradle
  src/backend/user-server/src/README.md
  src/backend/user-server/src/img.png
  src/backend/user-server/src/main/java/userserver/UserServerApplication.java
  src/backend/user-server/src/main/java/userserver/composes/docker-compose.yml
  src/backend/user-server/src/main/java/userserver/composes/test.env
  src/backend/user-server/src/main/java/userserver/config/UserConfig.java
  src/backend/user-server/src/main/java/userserver/controller/UserController.java
  src/backend/user-server/src/main/java/userserver/domain/BaseTimeEntity.java
  src/backend/user-server/src/main/java/userserver/domain/Role.java
  src/backend/user-server/src/main/java/userserver/domain/Status.java
  src/backend/user-server/src/main/java/userserver/domain/User.java
  src/backend/user-server/src/main/java/userserver/exception/CustomException.java
  src/backend/user-server/src/main/java/userserver/exception/CustomExceptionAdvice.java
  src/backend/user-server/src/main/java/userserver/exception/CustomSuccessAdvice.java
  src/backend/user-server/src/main/java/userserver/exception/CustomUserCode.java
  src/backend/user-server/src/main/java/userserver/payload/request/EmailAuthCodeRequest.java
  src/backend/user-server/src/main/java/userserver/payload/request/EmailVerifyRequest.java
  src/backend/user-server/src/main/java/userserver/payload/request/SignUpRequest.java
  src/backend/user-server/src/main/java/userserver/payload/response/ErrorResponse.java
  src/backend/user-server/src/main/java/userserver/payload/response/ProfileTestResponse.java
  src/backend/user-server/src/main/java/userserver/payload/response/SuccessMessageResponse.java
  src/backend/user-server/src/main/java/userserver/payload/response/SuccessObjectResponse.java
  src/backend/user-server/src/main/java/userserver/repository/UserRepository.java
  src/backend/user-server/src/main/java/userserver/service/EmailService.java
  src/backend/user-server/src/main/java/userserver/service/RedisService.java
  src/backend/user-server/src/main/java/userserver/service/UserService.java
  src/backend/user-server/src/main/java/userserver/service/UserServiceImpl.java
  src/backend/user-server/src/main/resources/application.yml
  src/backend/user-server/src/test/java/userserver/controller/UserControllerTest.java
Labels: enhancement

#38 Feat/#19 파일 서버로부터 음원 정보를 가져와 스트리밍하는 서버를 작성합니다.
  src/backend/streaming-server/.gitignore
  src/backend/streaming-server/Dockerfile
  src/backend/streaming-server/README.md
  src/backend/streaming-server/build.gradle
  src/backend/streaming-server/docker-compose.yml
  src/backend/streaming-server/gradle/wrapper/gradle-wrapper.jar
  src/backend/streaming-server/gradle/wrapper/gradle-wrapper.properties
  src/backend/streaming-server/gradlew
  src/backend/streaming-server/gradlew.bat
  src/backend/streaming-server/settings.gradle
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/StreamingApplication.kt
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/controller/StreamingController.kt
  src/backend/streaming-server/src/main/resources/application-docker.yml
  src/backend/streaming-server/src/main/resources/application.yml
  src/backend/streaming-server/src/test/kotlin/com/lalala/streaming/StreamingApplicationTests.kt
Labels: enhancement

#41 Feat/#9 검색 서버 Elasticsearch 연결, 기본 검색 API를 구현합니다.
  src/backend/search-server/.env.default
  src/backend/search-server/.gitignore
  src/backend/search-server/Dockerfile
  src/backend/search-server/README.md
  src/backend/search-server/docker-compose.yml
  src/backend/search-server/requirements.txt
  src/backend/search-server/src/api/__init__.py
  src/backend/search-server/src/api/client.py
  src/backend/search-server/src/api/indexing.py
  src/backend/search-server/src/api/query.py
  src/backend/search-server/src/elasticsearch/__init__.py
  src/backend/search-server/src/elasticsearch/elasticsearch_connector.py
  src/backend/search-server/src/main.py
  src/backend/search-server/src/models/__init__.py
  src/backend/search-server/src/models/album.py
  src/backend/search-server/src/models/artist.py
  src/backend/search-server/src/models/music.py
Labels: enhancement

#47 Feat/#45 서버 도커 허브로 빌드하고 푸시하는 스크립트를 작성 / 기타 설정 수정
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/auto-assign-author-to-assignees.yml
  .github/workflows/dockerhub-push.yml
  .github/workflows/label.yml
  .gitignore
  README.md
  resources/README.md
  resources/서버구성도.png
  resources/서버흐름도.png
  scripts/README.md
  src/backend/README.md
  src/backend/images/architecture.png
  src/infra/README.md
Labels: docs, config

#48 Feat/#42 정적 플레이리스트 CRUD, 플레이리스트에 대한 음원 추가, 제거, 순서 변경을 구현합니다.
  src/backend/playlist-server/playlist-server/.gitignore
  src/backend/playlist-server/playlist-server/Dockerfile
  src/backend/playlist-server/playlist-server/build.gradle
  src/backend/playlist-server/playlist-server/docker-compose.yml
  src/backend/playlist-server/playlist-server/gradle/wrapper/gradle-wrapper.jar
  src/backend/playlist-server/playlist-server/gradle/wrapper/gradle-wrapper.properties
  src/backend/playlist-server/playlist-server/gradlew
  src/backend/playlist-server/playlist-server/gradlew.bat
  src/backend/playlist-server/playlist-server/settings.gradle
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/PlaylistServerApplication.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/global/config/MongoDBConfig.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/global/config/RedisCacheConfig.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/global/config/RedisConfig.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/global/config/SwaggerConfig.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/music/config/MusicConverterConfig.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/music/domain/Music.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/music/dto/MusicOrderChangeRequestDto.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/music/dto/MusicRequestDto.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/music/dto/MusicResponseDto.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/music/util/MusicToDtoConverter.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/config/PlaylistConverterConfig.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/controller/PlaylistController.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/domain/Playlist.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/dto/PlaylistRequestDto.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/dto/PlaylistResponseDto.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/exception/DuplicateMusicException.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/exception/NotFoundException.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/repository/PlaylistRepository.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/service/PlaylistService.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/service/TransactionalService.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/util/KeyGenerator.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/util/PlaylistRedisSerializer.java
  src/backend/playlist-server/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/util/PlaylistToDtoConverter.java
  src/backend/playlist-server/playlist-server/src/main/resources/application.yml
  src/backend/playlist-server/playlist-server/src/test/java/com/sgwannabe/playlistserver/PlaylistServerApplicationTests.java
Labels: enhancement, server, feature
