Repository sgdevcamp2023/sgwannabe, pull requests merged in 2024-02, with the labels that each got.

#58 Feat/#57 스트리밍 서버 접속 종료 시 임시 음원 파일 제거
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/constant/StreamingConstant.kt
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/handler/StreamingHandler.kt
  src/backend/streaming-server/src/main/kotlin/com/lalala/streaming/listener/TempFileDeleteListener.kt
Labels: server, feature

#66 Feat/#60 코드 리팩토링
  src/backend/auth-server/src/main/java/authserver/TestDataInit.java
  src/backend/auth-server/src/main/java/authserver/composes/docker-compose.yml
  src/backend/auth-server/src/main/java/authserver/composes/test.env
  src/backend/auth-server/src/main/java/authserver/config/jwt/JwtUtils.java
  src/backend/auth-server/src/main/java/authserver/controller/AuthController.java
  src/backend/auth-server/src/main/resources/application.yml
Labels: server, feature

#67 Feat/#60 코드 리팩토링
  src/backend/user-server/qodana.yaml
  src/backend/user-server/src/main/java/userserver/TestDataInit.java
  src/backend/user-server/src/main/java/userserver/config/jwt/AuthEntryPoint.java
  src/backend/user-server/src/main/java/userserver/config/jwt/AuthTokenFilter.java
  src/backend/user-server/src/main/java/userserver/config/jwt/JwtAccessDeniedHandler.java
  src/backend/user-server/src/main/java/userserver/config/jwt/JwtUtils.java
  src/backend/user-server/src/main/java/userserver/config/security/UserDetailsServiceImpl.java
  src/backend/user-server/src/main/java/userserver/config/security/WebSecurityConfig.java
  src/backend/user-server/src/main/java/userserver/controller/UserController.java
  src/backend/user-server/src/main/java/userserver/domain/BaseTimeEntity.java
  src/backend/user-server/src/main/java/userserver/exception/CustomException.java
  src/backend/user-server/src/main/java/userserver/exception/CustomExceptionAdvice.java
  src/backend/user-server/src/main/java/userserver/exception/CustomSuccessAdvice.java
  src/backend/user-server/src/main/java/userserver/exception/CustomUserCode.java
  src/backend/user-server/src/main/java/userserver/exception/CustomUserProvider.java
  src/backend/user-server/src/main/java/userserver/payload/request/EmailAuthCodeRequest.java
  src/backend/user-server/src/main/java/userserver/payload/request/EmailVerifyRequest.java
  src/backend/user-server/src/main/java/userserver/payload/request/PasswordChangeRequest.java
  src/backend/user-server/src/main/java/userserver/payload/request/SignUpRequest.java
  src/backend/user-server/src/main/java/userserver/payload/response/ProfileTestResponse.java
  src/backend/user-server/src/main/java/userserver/service/EmailService.java
  src/backend/user-server/src/main/java/userserver/service/RedisService.java
  src/backend/user-server/src/main/java/userserver/service/UserService.java
  src/backend/user-server/src/main/java/userserver/service/UserServiceImpl.java
  src/backend/user-server/src/test/java/userserver/controller/UserControllerTest.java
Labels: server, feature

#64 Feat/#63 플레이어 구현
  src/frontend/sg_lalala/package-lock.json
  src/frontend/sg_lalala/package.json
  src/frontend/sg_lalala/public/index.html
  src/frontend/sg_lalala/public/manifest.json
  src/frontend/sg_lalala/src/@types/react.d.ts
  src/frontend/sg_lalala/src/App.tsx
  src/frontend/sg_lalala/src/assets/background_pause.png
  src/frontend/sg_lalala/src/assets/background_play.png
  src/frontend/sg_lalala/src/assets/delete.png
  src/frontend/sg_lalala/src/assets/play_back.png
  src/frontend/sg_lalala/src/assets/play_front.png
  src/frontend/sg_lalala/src/assets/play_primary.png
  src/frontend/sg_lalala/src/assets/play_white.png
  src/frontend/sg_lalala/src/assets/plus.png
  src/frontend/sg_lalala/src/components/Player/AudioPlayer.tsx
  src/frontend/sg_lalala/src/components/Player/AudioProgressBar.tsx
  src/frontend/sg_lalala/src/components/Player/CircularProgress.tsx
  src/frontend/sg_lalala/src/components/Player/IconButton.tsx
  src/frontend/sg_lalala/src/components/Player/Player.tsx
  src/frontend/sg_lalala/src/components/Playlist/Playlist.tsx
  src/frontend/sg_lalala/src/components/Playlist/PlaylistTrack.tsx
  src/frontend/sg_lalala/src/data/playlist_data.json
  src/frontend/sg_lalala/src/data/songs.json
  src/frontend/sg_lalala/src/index.css
  src/frontend/sg_lalala/src/index.tsx
  src/frontend/sg_lalala/src/pages/PlaylistPage.tsx
  src/frontend/sg_lalala/src/routes/index.tsx
  src/frontend/sg_lalala/src/state/index.ts
  src/frontend/sg_lalala/src/types/index.tsx
  src/frontend/sg_lalala/src/types/playlist.ts
  src/frontend/sg_lalala/tailwind.config.js
Labels: web, feature

#76 bugfix: music 식별자 id 추가
  src/backend/chatting-server/src/main/java/chattingserver/domain/room/Music.java
  src/backend/chatting-server/src/main/java/chattingserver/repository/ChatroomDummyInitializer.java
Labels: server, feature

#78 hotfix: chatting-server 충돌 해결
  src/backend/chatting-server/build.gradle
  src/backend/chatting-server/docker-compose.yml
  src/backend/chatting-server/gradlew.bat
  src/backend/chatting-server/src/main/java/chattingserver/ChattingApplication.java
  src/backend/chatting-server/src/main/java/chattingserver/config/WebConfig.java
  src/backend/chatting-server/src/main/java/chattingserver/config/WebSockConfig.java
  src/backend/chatting-server/src/main/java/chattingserver/config/db/MongoDBConfig.java
  src/backend/chatting-server/src/main/java/chattingserver/config/kafka/Consumers.java
  src/backend/chatting-server/src/main/java/chattingserver/config/kafka/KafkaConsumerConfig.java
  src/backend/chatting-server/src/main/java/chattingserver/config/kafka/KafkaProducerConfig.java
  src/backend/chatting-server/src/main/java/chattingserver/config/kafka/KafkaTopicConfig.java
  src/backend/chatting-server/src/main/java/chattingserver/config/kafka/Producers.java
  src/backend/chatting-server/src/main/java/chattingserver/config/util/ConverterConfig.java
  src/backend/chatting-server/src/main/java/chattingserver/config/util/SwaggerConfig.java
  src/backend/chatting-server/src/main/java/chattingserver/controller/ChatController.java
  src/backend/chatting-server/src/main/java/chattingserver/controller/RoomController.java
  src/backend/chatting-server/src/main/java/chattingserver/domain/chat/ChatMessage.java
  src/backend/chatting-server/src/main/java/chattingserver/domain/room/Playlist.java
  src/backend/chatting-server/src/main/java/chattingserver/domain/room/Room.java
  src/backend/chatting-server/src/main/java/chattingserver/domain/room/User.java
  src/backend/chatting-server/src/main/java/chattingserver/dto/ChatMessageDto.java
  src/backend/chatting-server/src/main/java/chattingserver/dto/RoomMessageDto.java
  src/backend/chatting-server/src/main/java/chattingserver/dto/request/ReadMessageUpdateRequestDto.java
  src/backend/chatting-server/src/main/java/chattingserver/dto/request/RoomCreateRequestDto.java
  src/backend/chatting-server/src/main/java/chattingserver/dto/response/ChatMessageResponseDto.java
  src/backend/chatting-server/src/main/java/chattingserver/dto/response/CommonAPIError.java
  src/backend/chatting-server/src/main/java/chattingserver/dto/response/CommonAPIMessage.java
  src/backend/chatting-server/src/main/java/chattingserver/dto/response/JoinedRoomResponseDto.java
  src/backend/chatting-server/src/main/java/chattingserver/dto/response/RoomResponseDto.java
  src/backend/chatting-server/src/main/java/chattingserver/repository/ChatMessageRepositoryCustom.java
  src/backend/chatting-server/src/main/java/chattingserver/repository/ChatMessageRepositoryImpl.java
  src/backend/chatting-server/src/main/java/chattingserver/repository/RoomRepository.java
  src/backend/chatting-server/src/main/java/chattingserver/repository/RoomRepositoryImpl.java
  src/backend/chatting-server/src/main/java/chattingserver/service/ChatMessageService.java
  src/backend/chatting-server/src/main/java/chattingserver/service/RoomService.java
  src/backend/chatting-server/src/main/java/chattingserver/util/constant/ErrorCode.java
  src/backend/chatting-server/src/main/java/chattingserver/util/exception/CustomAPIException.java
  src/backend/chatting-server/src/main/resources/application.yml
  src/backend/chatting-server/src/test/java/chattingserver/ChattingserverApplicationTests.java
Labels: fix, server

#84 Feat/#70 2 채팅방 신규 입장, 재입장시 현재 스트리밍 해야하는 대상 음원 식별자를 응답에 포함하도록 로직 추가, 변경
  src/backend/chatting-server/src/main/java/chattingserver/controller/ChatController.java
  src/backend/chatting-server/src/main/java/chattingserver/domain/room/Music.java
  src/backend/chatting-server/src/main/java/chattingserver/domain/room/Playlist.java
  src/backend/chatting-server/src/main/java/chattingserver/domain/room/Room.java
  src/backend/chatting-server/src/main/java/chattingserver/dto/ChatMessageDto.java
  src/backend/chatting-server/src/main/java/chattingserver/dto/response/ReEnterResponseDto.java
  src/backend/chatting-server/src/main/java/chattingserver/repository/ChatroomDummyInitializer.java
  src/backend/chatting-server/src/main/java/chattingserver/service/ChatMessageService.java
  src/backend/chatting-server/src/main/java/chattingserver/service/RoomService.java
Labels: enhancement, server, feature

#86 Feat/#71 토큰 재발급 API
  src/backend/auth-server/src/main/java/com/lalala/auth/controller/AuthController.java
  src/backend/auth-server/src/main/java/com/lalala/auth/payload/request/TokenRefreshRequest.java
  src/backend/auth-server/src/main/java/com/lalala/auth/service/AuthService.java
  src/backend/auth-server/src/main/java/com/lalala/auth/service/RedisService.java
  src/backend/common-module/src/main/java/com/lalala/exception/ErrorCode.java
  src/backend/gateway-server/src/main/java/com/lalala/gateway/filter/WhiteListURI.java
Labels: server, feature

#88 Feat/#70 4 joined chatroom에 missingfield인 usercount를 추가합니다
  src/backend/chatting-server/src/main/java/chattingserver/dto/response/JoinedRoomResponseDto.java
  src/backend/chatting-server/src/main/java/chattingserver/service/RoomService.java
Labels: server, feature

#90 refactor: access token 전달 방식 변경
  src/backend/auth-server/src/main/java/com/lalala/auth/config/jwt/JwtUtils.java
  src/backend/auth-server/src/main/java/com/lalala/auth/service/AuthService.java
Labels: server, feature

#92 refactor: cors 에러 해결
  src/backend/auth-server/src/main/java/com/lalala/auth/config/WebConfig.java
  src/backend/gateway-server/src/main/resources/application.yml
Labels: server, feature

#96 refactor: 회원정보 조회 response id 속성 추가
  src/backend/user-server/src/main/java/com/lalala/user/payload/response/UserInfoResponse.java
  src/backend/user-server/src/main/java/com/lalala/user/service/UserService.java
Labels: server, feature

#97 feat: 4개 초과 채팅방 참여 요청시 가장 오래된 채팅방 퇴장 로직 추가
  src/backend/chatting-server/src/main/java/chattingserver/service/ChatMessageService.java
Labels: enhancement, server, feature

#98 채팅 변경 반영
  src/backend/chatting-server/src/main/java/chattingserver/service/ChatMessageService.java
  src/backend/user-server/src/main/java/com/lalala/user/payload/response/UserInfoResponse.java
  src/backend/user-server/src/main/java/com/lalala/user/service/UserService.java
Labels: server

#99 refactor: add JoinedRoomResponseDto missing field - playlist
  src/backend/chatting-server/src/main/java/chattingserver/dto/response/JoinedRoomResponseDto.java
  src/backend/chatting-server/src/main/java/chattingserver/service/RoomService.java
Labels: refactor

#100 add JoinedRoomResponseDto missing field - playlist
  src/backend/chatting-server/src/main/java/chattingserver/dto/response/JoinedRoomResponseDto.java
  src/backend/chatting-server/src/main/java/chattingserver/service/RoomService.java
Labels: server, refactor

#101 refactor: add 음원 총 수 - 모든 채팅방 조회 API resp
  src/backend/chatting-server/src/main/java/chattingserver/dto/response/RoomResponseDto.java
  src/backend/chatting-server/src/main/java/chattingserver/util/converter/EntityToResponseDtoConverter.java
Labels: server, feature

#102 [chatting/develop <- develop] 채팅 서버 변경 반영
  src/backend/auth-server/src/main/java/com/lalala/auth/controller/AuthController.java
  src/backend/chatting-server/src/main/java/chattingserver/dto/response/RoomResponseDto.java
  src/backend/chatting-server/src/main/java/chattingserver/util/converter/EntityToResponseDtoConverter.java
Labels: server

#95 Feat/#94 음원 좋아요 API 구현
  src/backend/common-module/common-mvc/src/main/java/com/lalala/mvc/passport/PassportExtractor.java
  src/backend/common-module/common-mvc/src/main/java/com/lalala/mvc/response/BaseResponseBodyAdvice.java
  src/backend/music-server/infra/00_schema.sql
  src/backend/music-server/infra/02_albums_202402151519.sql
  src/backend/music-server/infra/03_musics_202402151519.sql
  src/backend/music-server/infra/04_music_likes_schema.sql
  src/backend/music-server/music-api/src/main/java/com/lalala/music/config/SwaggerConfiguration.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/config/WebConfiguration.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/controller/MusicController.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/controller/MusicLikeController.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/dto/MusicDTO.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/dto/MusicDetailDTO.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/entity/AlbumEntity.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/entity/MusicEntity.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/entity/MusicLikeEntity.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/repository/MusicLikeRepository.java
  src/backend/music-server/music-api/src/main/java/com/lalala/music/service/MusicLikeService.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/dto/MusicDTO.java
  src/backend/storage-server/docker-compose-hub.yml
  src/backend/storage-server/docker-compose-local.yml
  src/backend/storage-server/docker-compose.yml
Labels: server, feature

#105 [playlist/develop] <- [Develop]
  src/backend/chatting-server/src/main/java/chattingserver/controller/RoomController.java
  src/backend/chatting-server/src/main/java/chattingserver/dto/request/RoomCreateRequestDto.java
  src/backend/chatting-server/src/main/java/chattingserver/dto/response/RoomResponseDto.java
  src/backend/chatting-server/src/main/java/chattingserver/repository/ChatroomDummyInitializer.java
  src/backend/chatting-server/src/main/java/chattingserver/service/RoomService.java
  src/backend/chatting-server/src/main/java/chattingserver/util/converter/EntityToResponseDtoConverter.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/ChattingService.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/FeignChattingClient.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/FeignMusicClient.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/dto/PlaylistRoomDummyDto.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/external/feign/dto/RoomCreateRequestDto.java
  src/backend/playlist-server/src/main/java/com/sgwannabe/playlistserver/playlist/util/DummyInitializer.java
Labels: server
